 
body {
    background-color: bisque;
}
#titulo{ 
    font-style: italic;
}
.imagenes{
    width: 200px;
    height: 200px;
}
#hola{
    font-size: 60px;
    font-style: initial;
}
a:hover{ 
    color: rgb(185, 110, 255) ;
font-size: 20px;
font-style: oblique ;
}
img:hover{
width: 320px;
height: 320px;
}
h1{
    text-align: center;
}
